<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <% for (var i in config.social){ %>
          <li>
            <a href="https://<%= i %>.com/<%- config.social[i] %>" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-<%= i %> fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %>
        </ul>
        <p class="copyright text-muted">Copyright &copy; <%= config.author %> <%= date(new Date().date, 'YYYY') %></p>
      </div>
    </div>
  </div>
</footer>
